<h2 class="page-header">Đăng nhập</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Tên đăng nhập</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Mật khẩu</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Đăng nhập</button>
</form>
